/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face{
    font-family: 'Museo 300';
    src: url('/www/font/Museo300-Regular.otf') format('opentype');
    font-style: normal;
}

@font-face{
    font-family: 'Museo 700';
    src: url('/www/font/Museo700-Regular.otf') format('opentype');
    font-style:normal;
}

@font-face{
    font-family: 'Roboto Bold';
    src: url('/www/font/Roboto-Bold.ttf') format('opentype');
    font-style:normal;
}

@font-face{
    font-family: 'Roboto Regular';
    src: url('/www/font/Roboto-Regular.ttf') format('opentype');
    font-style:normal;
}

@font-face{
    font-family: 'Roboto Light';
    src: url('/www/font/Roboto-Light.ttf') format('opentype');
    font-style:normal;
}
.statusbar-overlay {
    background: #000000;
}

.login-page {
    background-image: url('/images/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    text-align: center;
}

.index-title {
    text-transform: uppercase;
    text-align: center;
    color: #00aeef;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
}

.border-separator-logo {
    margin-top: 50px;
    border: 0.5px #fff solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.form-login{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.list-block ul {
    background: transparent;
}

.list-block .item-content .item-inner .item-input input::-webkit-input-placeholder {
    color: #A9A9A9 !important;
    font-size: 14px;
}

.list-block .item-content .item-inner .item-input input {
    color: #fff;
    border-bottom: 1px solid #A9A9A9;
}

.btn-signin{
    margin-left: auto;
    margin-right: auto;
}

.btn-sign-in{
    border-radius: 20px;
}

.item-title.label{
    color: whitesmoke;
    font-size: 16px;
}

